/* Dodajte ove stilove u vašu CSS datoteku */

/* Stil za karticu */
.card {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
  }
  .card-header {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6;
  }
  
  h1, .card-title {
    color: #007bff; 
  }
  
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
  }
  body {
    background-color: #f0f0f0; 
  }
  
  .form-control {
    background-color: #ffffff; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
  }
  